body {
    font-family: "Poppins", sans-serif !important;
    background-color: #01162d;
    color: white;
}

a {
    text-decoration: none;
}

textarea::placeholder {
    opacity: 0.5 !important;
    color: white !important;
}

.pop-700 {
    font-weight: 700;
}

.pop-300 {
    font-weight: 300;
}

.formHeight {
    height: calc(100vh - 130px);
}

.dropdown-menu {
    min-width: 2rem !important;
    width: 100%;
}

.accButton {
    background: #444;
    border: none;
}

.scrollbox {
    width: 650px;
}

@media (max-width: 576px) {
    .scrollbox {
        width: 350px;
    }
}
